@media only screen
    and (max-width : 500px){
        button{
            width: 43vw;height: 18vh;background-image: url(/images/frontbut.jpg);background-size: 100% 100%;
            position: absolute;
            top: 65vh;left: 28.5vw;
        }
        body{
            width:114vw;
            height: 114vh;
            background-image:url(/images/front.jpg);background-repeat: no-repeat;background-color: black;background-size: 100vw 60vh ;
        }
}
@media only screen
    and (min-width : 501px) {
        button{
            position: absolute;
            width: 20vw;height:18vh;top:40vh;left:69vw ;background-image: url(/images/frontbut.jpg);background-size: 100% 100%;
            align-self:center;
        }
        body{
            background-image:url(/images/front.jpg);background-repeat: no-repeat;background-color: black;background-size:65vw 100vh;
        }
}