@media only screen
and (max-width : 500px){
         body{
               background-size: 40% 300%;
             background-repeat: repeat;
             width:114vw;
             height: 114vh;
         }
                .prime{
             height: 8vh;
             width: 18.5vw;
        }
        .root {
            position: relative;
            width: 114vw;
            margin: 1vh;
            display: grid;
            grid-template-rows: 15vh 23vh 50vh 15vh;
            grid-template-columns: 58vw 58vw;
            left: -4vw;
            top: 2vh;
        }
        
        .but1 {
            height: 100%;
            width: 100%;
                border: ridge;
            border-width:1.5vh 2vw;
            border-color: red;
            color: red;
            overflow: hidden;
            text-align: center;
            padding: 2vh 6vw;
            display: flex;
            font-size: 15px;
            font-size-adjust: auto;
            font-weight: bold;
            flex-grow: 1;
            flex-shrink: 1;
        }
    .but1a {
            height: 100%;
            width: 100%;
                border: ridge;
            border-width:1.5vh 2vw;
            border-color: red;
            color: red;
            overflow: hidden;
            text-align: center;
            padding: 2vh 6vw;
            display: flex;
            font-size: 15px;
            font-size-adjust: auto;
            font-weight: bold;
            flex-grow: 1;
            flex-shrink: 1;
        }
        
        .but2 {
            position: relative;
            height: 7vh;
            width: 30vw;
            left: 7vw;
            top: 1vh;
        }
        .countdown{
            position: absolute;
            z-index: 2;
            overflow: hidden;
            background-color: black;
            border: double;
            border-width: 5px;
            border-color: white;
           width:110vw;
            height: 46.2%;
            top: 42.2vh;
            
        }
        .cccc{
            position: relative;
            z-index: 0;
            background-color: black;
            border: double;
            top: 3vh;
            left: 10vw;
            width: 90vw;
            
        }
        .ccc{
            grid-area: 3/1/4/3;
            background-image: url(/images/base.jpg);
            background-size: 100% 100%;
            margin: 1vh;
            overflow: hidden;
        }
        .countdown1{
             position: absolute;
            z-index: 3;
            overflow: hidden;
            background-color: black;
            display: none;
            border: double;
            border-width: 5px;
            border-color: white;
            width:110vw;
            height: 46.2%;
            top: 42.2vh;
            
        }
        .scores{
            width: 53vw;
            position: relative;
            font-size: 2vh;
            padding: 0.3vh;
            text-align: center;
            color: red;
            
        }
        .restart{
            background-image: url(/images/restartbut.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .play{
            background-image: url(/images/playbut.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .stop{
            background-image: url(/images/stopbut.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .butdiv{
            width:40;
            margin-top:15px;
            margin-bottom:10px;
            margin-left:15px;
        }
        .div1{
            grid-area: 1/1/2/3;
            background-image: url(/images/iamsmall.jpg);
            background-size: 100% 100%; 
            background-repeat: no-repeat;
            margin: 1vh;
        }
        .div2{
            grid-area: 2/1/3/2;
            margin:1vh;
        }
        .div3{
             grid-area: 2/2/3/3;
            margin:1vh;
        }
        .div4{
            
             grid-area: 4/1/5/3;
            background-image: url(/images/bigbox.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin:1vh ;
            background-position: center;
        }
        .tab{
            border-spacing: 1px ;
        }
        .boardtext{
            text-align:center;
            background-image: url(/images/best.jpg);
            background-repeat: no-repeat;
            font-size: 1px;
            height: 6vh;
            width: 100%;
            background-size: 100% 100%;
        }
        .boardcount{
            height:15vh;
            width:100%;
            background-image: url(/images/box.jpg);
            background-size: 100% 100%;
        }
        .timetext{
             text-align:center;
            background-image: url(/images/time.jpg);
            background-repeat: no-repeat;
            font-size: 1px;
            height: 6vh;
            width: 100%;
            background-size: 100% 100%;
        }
        .timecount{
            border: 0.1px solid;
            height:15vh;
            width:100%;
            background-image: url(/images/box.jpg);
            background-size: 100% 100%;
        }
        .timer{
            position: relative;
            font-size: 6vmin;
            text-align:center;
            color: green;
        }
        .your{
            font-size: 30px;margin-top: 50px;text-align: center;color: aqua;
        }
        .yourtext{
            font-size: 25px;margin-top: 5px;text-align: center;color: aqua;
        }
        .canvas{
            font-size: 25vh;margin: 5vh;text-align: center;color: aliceblue;
        }
      .mk{
           display: flex;
           position: relative;
           overflow: hidden;
             margin: 0px;
             padding: 0px;
             
           
       }
       .mk-1{
           display: flex;
           flex-shrink: 0;
           padding: 0px;
           margin: 0px;
           animation-name: scroll;
           animation-duration: 8s;
           animation-iteration-count: infinite;
           animation-timing-function: linear;
           height: 100%;
       }
       .mk-2{
           display: flex;
           flex-shrink: 0;
           padding: 0px;
           margin: 0px;
           animation-name: scroll;
           animation-duration: 5s;
           animation-iteration-count: infinite;
           animation-timing-function: linear;
           animation-direction: reverse;
           height: 80%;
       }
        .mk-3{
           display: flex;
           flex-shrink: 0;
            padding: 0px;
           margin: 0px;
           animation-name: scroll;
           animation-duration: 5s;
           animation-iteration-count: infinite;
           animation-timing-function: linear;
           height: 100%;
       }
        .mk-4{
           display: flex;
           flex-shrink: 0;
            padding: 0px;
           margin: 0px;
           animation-name: scroll;
           animation-duration: 8s;
           animation-iteration-count: infinite;
           animation-timing-function: linear;
           animation-direction: reverse;
           height: 100%;
       }
       @keyframes scroll{
           0%{
               transform: translateX(0%);
           }
           100%{
               transform: translateX(-500%)
           }
       }
}

 

 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 501px) {
       body{
             background-repeat: repeat-x;
           background-size: 50vw 100vh;
         }
      .prime{
             height: 10vh;
            width: 5.8vw;
             }
             
        .root {
            display: flex;
            position: absolute;
            height: 90vh;
            width: 92.4vw;
            left: 3.5vw;
            top: 5vh;
            display: grid;
            grid-template-rows: 19.38vh 54.24vh 15.5vh;
            grid-template-columns: 17.4vw 58vw 17.4vw;
        }
        
        .but1 {
            height: 100%;
            width: 100%;
            border: ridge;
            border-width:1vh 1vw;
            border-color: red;
            color: red;
            overflow: hidden;
            text-align: center;
            padding: 1vh 1vw;
            display: flex;
            font-size-adjust: auto;
            font-size: 2vw;
            font-weight: bold;
            flex-grow: 1;
            flex-shrink: 1;
            
        }
    .but1a {
            height: 100%;
            width: 100%;
            border: ridge;
            border-width:1vh 1vw;
            border-color: red;
            color: red;
            overflow: hidden;
            text-align: center;
            padding: 1vh 1vw;
            display: flex;
            font-size-adjust: auto;
            font-size: 2vw;
            font-weight: bold;
            flex-grow: 1;
            flex-shrink: 1;
            
        }
        .but2 {
            position: relative;
            height: 8vh;
            width: 10.785vw;
            top: 2.5vh;
            left: 13vw;
        }
        .countdown{
            position: absolute;
            top:28.4vh;
            left:34vw;
            z-index: 2;
            overflow: hidden;
            background-color: black;
            border: double;
            border-width: 5px;
            border-color: white;
            width:30.7vw;
            height: 44.4vh;
            
        }
        .cccc{
            position: relative;
            z-index: 0;
            background-color: black;
            border: double;
            top:3.4vh;
            left:13.5vw;
            overflow: hidden;
            width: 29vw;
        }
        .ccc{
            grid-area: 2/2/3/3;
            background-image: url(/images/base.jpg);
            background-size: 100% 100%;
            margin:1vh;
            overflow: hidden; 
        }
        .countdown1{
            position: absolute;
            z-index: 3;
            overflow: hidden;
            background-color: black;
            border: double;
            border-width: 5px;
            border-color: white;
            width:30.7vw;
            height: 44.4vh;
            display: none;
            top:28.4vh;
            left:34vw;
            
            
        }
        .scores{
            width: 14vw;
            height: 3vh;
            position: relative;
            font-size: 3vmin;
            padding: 0.5vmin;
            text-align: center;
            padding-top: 1vh;
            left: 1vw;
            color: red;
            
        }
        .restart{
            background-image: url(/images/restartbut.jpg);
            background-size: 100% 100%;
        }
        .play{
            background-image: url(/images/playbut.jpg);
            background-size: 100% 100%;
        }
        .stop{
            background-image: url(/images/stopbut.jpg);
            background-size: 100% 100%;
        }
        .butdiv{
            
        }
        .div1{
            grid-area: 1/1/2/4;
            background-image: url(/images/iamsmall.jpg);
            background-size: 100% 18vh;
            margin:1vh; 
            width: 99%;
            height: 18vh;
        }
        .div2{
            grid-area: 2/1/4/2;
            margin:1vh;
        }
        .div3{
             grid-area: 2/3/4/4;
            margin:1vh;
        }
        .div4{
             grid-area: 3/2/4/3;
            background-image: url(/images/bigbox.jpg);
            background-size: 100% 100%;
            margin:1vh ;
        }
        .tab{
            border-spacing: 0.49vw 0.7vh;
        }
        .boardtext{
            text-align:center;
            background-image: url(/images/best.jpg);
            font-size: 0.1vh;
            height: 12vh;
            width:16.4vw;
            background-size: 16.4vw 12vh;
        }
        .boardcount{
            height:23.5vh;
            width:16.4vw;
            background-image: url(/images/box.jpg);
            background-size: 16.4vw 23.5vh;
        }
        .timetext{
            text-align:center;
            background-image: url(/images/time.jpg);
            font-size: 0.1vh;
            height: 12vh;
            width: 16.4vw;
            background-size: 16.4vw 12vh;
        }
        .timecount{
            border: 0.1px solid;
            height:23.5vh;
            width:16.4vw;
            background-image: url(/images/box.jpg);
            background-size: 16.4vw 23.5vh;
        }
        .timer{
            position: relative;
            top: 2vh;
            font-size: 5vmin;
            text-align:center;
            color: green;
        }
        .your{
            font-size: 6vmin;margin-top: 8vh;text-align: center;color: aqua;
        }
        .yourtext{
            font-size: 3vmin;margin-top: 1vh;text-align: center;color: aqua;
        }
        .canvas{
            font-size: 20vmin;margin: 6vmax;text-align: center;color: aliceblue;
        }
      .mk{
           display: flex;
           position: relative;
           overflow: hidden;
             margin: 0px;
             padding: 0px;
             
           
       }
       .mk-1{
           display: flex;
           flex-shrink: 0;
           padding: 0px;
           margin: 0px;
           animation-name: scroll;
           animation-duration: 8s;
           animation-iteration-count: infinite;
           animation-timing-function: linear;
           height: 100%;
       }
       .mk-2{
           display: flex;
           flex-shrink: 0;
           padding: 0px;
           margin: 0px;
           animation-name: scroll;
           animation-duration: 5s;
           animation-iteration-count: infinite;
           animation-timing-function: linear;
           animation-direction: reverse;
           height: 80%;
       }
        .mk-3{
           display: flex;
           flex-shrink: 0;
            padding: 0px;
           margin: 0px;
           animation-name: scroll;
           animation-duration: 5s;
           animation-iteration-count: infinite;
           animation-timing-function: linear;
           height: 100%;
       }
        .mk-4{
           display: flex;
           flex-shrink: 0;
            padding: 0px;
           margin: 0px;
           animation-name: scroll;
           animation-duration: 8s;
           animation-iteration-count: infinite;
           animation-timing-function: linear;
           animation-direction: reverse;
           height: 100%;
       }
       @keyframes scroll{
           0%{
               transform: translateX(0%);
           }
           100%{
               transform: translateX(-500%)
           }
       }
}
 
